$primary_color: whitesmoke;

body {
  background-color: $primary_color;
  font: {
    family: Helvetica, Arial;
    size: 100%;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  max-width: 720px;
  margin: 0 auto;
  padding: 20px 40px;
  border: solid 0px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

img {
  width: 100%;
  height: auto;
}
